altgraph==0.17
certifi==2022.12.7
chardet==3.0.4
docutils==0.16
idna==2.9
Kivy==1.11.1
Kivy-Garden==0.1.4
MouseInfo==0.1.2
Pillow==7.0.0
PyAutoGUI==0.9.48
PyGetWindow==0.0.8
Pygments==2.6.1
PyInstaller==3.6
PyMsgBox==1.0.7
pynput==1.6.8
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
python-xlib==0.26
python3-xlib==0.15
PyTweening==1.0.3
requests==2.23.0
six==1.14.0
urllib3==1.25.8
